/* Main */
body {
  margin: 0px;
}

main {
  margin: 10px;
}

img {
  border-radius: 100%;
  width: 100px;
}

section {
  height: 100vh;
  width: auto;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


/* App */
nav {
  background-color: rgb(36, 36, 36);
  color: white;
}

.menu-toggle {
  display: block;
  text-align: center;
  cursor: pointer;
}

.menu-content {
  align-content: center;
  display: none;
  flex-direction: column;
  padding: 6px 0px 6px 0px;
}

nav:hover .menu-content {
  display: flex;
}

.menu-content {
  border: 2px solid red;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  
  nav {
    background-color: rgb(36, 36, 36);
    color: white;
  }

  .menu-toggle {
    display: none;
  }

  .menu-content {
    display: flex;
    flex-direction: row;
  }

}
